<div class="access-list-container">
  <div class="access-list-header">
    <h3 class="header-title">พื้นที่ที่เข้าถึงได้</h3>
    <span class="header-badge" *ngIf="accessibleAssets$ | async as assets">
      {{ assets.length }} รายการ
    </span>
  </div>

  <div class="list-content">
    <ng-container *ngIf="accessibleRooms$ | async as rooms">
      <div *ngIf="rooms.length === 0" class="empty-state">
        <div class="empty-icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <h4>ไม่มีรายการสิทธิ์</h4>
        <p>เลือก User (Visitor/Staff) ด้านบนเพื่อดูสิทธิ์</p>
      </div>

      <div *ngFor="let room of rooms" class="access-item" (click)="focusRoom(room)">
        <div class="item-status-col">
          <ion-badge class="color-dot" [style.background]="room.color"></ion-badge>
        </div>

        <div class="item-info-col">
          <h4 class="item-name">{{ room.name }}</h4>
          <div class="item-meta">
            <ion-icon name="location-outline"></ion-icon>
            <span>ชั้น {{ room.floor }} • {{ room.zoneName || 'โซนหลัก' }}</span>
          </div>
          <div class="door-statuses" *ngIf="room.doors.length">
            <span *ngFor="let door of room.doors" [class.unlocked]="door.allowed" [class.locked]="!door.allowed">
              <ion-icon [name]="door.allowed ? 'checkmark-circle' : 'close-circle'"></ion-icon>
              {{ door.label }}
            </span>
          </div>
        </div>

        <div class="item-action-col">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>

    </ng-container>
  </div>
</div>
