<ion-toolbar class="fastpass-toolbar">
  <ion-title slot="start">
    <div class="brand">
      <img src="assets/FastPass_Icon_1.png" alt="Fastpass" />
      <div class="brand-text">
        <span class="brand-name">FASTPASS</span>
        <span class="brand-tagline">ระบบเข้าอาคาร</span>
      </div>
    </div>
  </ion-title>

  <!-- <ion-buttons slot="end">
    <ion-item lines="none" class="user-display" *ngIf="currentUser">
      <ion-label class="ion-text-right">
        <h3>{{ currentUser.full_name }}</h3>
        <p class="role-badge">{{ currentUser.role_label }}</p>
      </ion-label>
      <ion-icon name="person-circle-outline" slot="end" size="large"></ion-icon>
    </ion-item>
  </ion-buttons> -->
</ion-toolbar>